<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
</head>
<body>
    <form action="/users/login" method="post">
        <% if (locals.error) { %>
            <div style="color: red; margin-bottom: 10px;">
                <%= locals.error %>
            </div>
        <% } %>
        
        <label for="firstname">Name
            <input type="text" name="firstname" id="firstname" value="<%= locals.firstname || '' %>">
        </label>
      
        <br><br>
        
        <label for="password">Password
            <input type="password" name="password" id="password" required>
        </label>
        
        <br><br>
        <button type="submit">登录</button>
    </form>
</body>
</html>

